<template>
  <section v-if="questions">
    <div>
      <h1>Fantastic Trivia Game</h1>
      <h2>Category:</h2>
      <h3 v-html="currentCategory" id="category"></h3>
      <h3 id="current-question-count">
        {{ questionCount }} / {{ questions.length }}
      </h3>
      <p v-html="currentQuestion" id="current-question"></p>

      <div id="answers">
        <div
          class="game__next-question uiButton"
          v-for="currentAnswer of currentAnswers"
          :key="currentAnswer.id"
          v-on:click="nextQuestion(currentAnswer.id)"
          v-html="currentAnswer.answer"
        ></div>
      </div>

      <div id="restart">
        <div @click="reload" class="uiButton">Restart</div>
      </div>
    </div>
  </section>
</template>

<script>
import API from "../api/questions";

export default {
  async created() {
    this.questions = await API.fetchQuestions();

    this.initialGameState();
  },
  data() {
    return {
      questions: null,
      category: "",
      incorrectAnswers: [],
      correctAnswer: "",
      type: "",
      questionCount: 1,
      storedAnswers: [],
    };
  },
  computed: {
    currentQuestion() {
      return this.questions[this.questionCount - 1].question;
    },
    currentCategory() {
      return this.questions[this.questionCount - 1].category;
    },
    currentAnswers() {
      return this.shuffleArray(
        this.questions[this.questionCount - 1].all_answers
      );
    },
  },
  methods: {
    async reload() {
      this.questions = await API.fetchQuestions()
      this.questionCount = 1
      this.storedAnswers = []

    },
    initialGameState() {
      return this.questions;
    },
    nextQuestion(currentId) {
      if (this.questionCount < this.questions.length) {
        this.storedAnswers.push(currentId);

        this.questionCount++;
      } else {
        this.storedAnswers.push(currentId);

        const joinedAnswers = this.storedAnswers.join("");
        const queryString = "/Results/" + joinedAnswers;

        this.$router.push(queryString);
      }
    },
    storeAnswers() {},
    isQuestionTypeBoolean(questionType) {
      if (questionType === "boolean") {
        return true;
      } else {
        return false;
      }
    },
    // fisher-yates shuffle algorithm
    shuffleArray(array) {
      for (let i = array.length - 1; i > 0; i--) {
        const j = Math.floor(Math.random() * (i + 1));
        const temp = array[i];
        array[i] = array[j];
        array[j] = temp;
      }
      return array;
    },
  },
};
</script>

<style>
#answers {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#restart {
  display: flex;
  justify-content: center;
}

.game__next-question {
  border: 1px solid #3949ab;
  background-color: #1b3ae8;
  color: rgb(255, 255, 255);
  border-radius: 0.25em;
  font-size: 1em;
  padding: 0.5em 1.5em;
  margin: 0.75em auto 1em auto;
  display: block;
}

.game__next-question:hover {
  color: #ffffff;
  background-color: #444dff;
}
</style>
