<template>
  <span id="resultsContainer">
	<div>
		<h2>Results</h2>
		<ul>
			<li v-for="question in completedQuestions" :key="question.question">
				<TriviaQuestion 
					:question="question.question"
					:answers="question.all_answers"
					:correctAnswerId="question.correct_answer_id"
					:userAnswerId="question.user_answer_id"
				/>
			</li>
		</ul>
	</div>
	<div id="summary">
		You got {{ correctAnswers*10 }} points out of {{ completedQuestions.length*10 }} possible. {{ praiseText }}
	</div>
	<div id="restart">
		<div @click="restart" class="uiButton">Return to start</div>
	</div>
  </span>
</template>

<script>
import TriviaQuestion from './TriviaQuestion'
import API from '../api/questions'

function restart() {
	this.$router.push('/Start')
}

export default {
	name: "Results",
	async created() {
	// Grab the question set
	this.completedQuestions = await API.fetchLastQuestions()

	// Grab user answers
	const answerIds = this.$route.params.answers.split('').map(a => parseInt(a, 10));

	// A light error check
	if (answerIds.length !== this.completedQuestions.length) this.$router.push('/NotFound')

	// Should also check whether ids are valid, e.g. the id of a boolean answer cant be anything but [0, 1]

	// "Complete" the questions with the user answers
	answerIds.forEach((answerId, idx) => {
		this.completedQuestions[idx].user_answer_id = answerId
	})

	this.correctAnswers = this.completedQuestions.reduce((acc, q) => acc + (q.user_answer_id === q.correct_answer_id ? 1 : 0), 0)
	},
	data() {
		return {
			completedQuestions: Object,
			correctAnswers: Array,
		}
	},
	methods: {
		restart,
	},
	computed: {
		praiseText() {
			const correctFraction = this.correctAnswers/this.completedQuestions.length
			if (correctFraction > .98) return 'I say! An astonishing feat!'
			else if (correctFraction > .70) return 'Decent, but nothing more. No one is impressed.'
			else if (correctFraction > .49) return 'Embarrassing. Close the page immediately. Let no one see it.'
			else return 'A miserably poor performance. You should be ASHAMED!'
			}
		},
	components: {
		TriviaQuestion
	}
};
</script>

<style>
#restart {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
#resultsContainer {
	margin-top: 2em;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
#resultsContainer > div {
	width: 80%;
}
h2 {
	text-align: center;
	font-size: 150%;
	font-weight: 700;
}

#summary {
	text-align: center;
	font-size: 120%;
	font-weight: 400;
}

ul {
	list-style-type: none;
}

.binaryQuestion, .multipleQuestion {
	margin-top: 1em;
	margin-bottom: 1em;
}

</style>