<template>
  <span id="outerContainer">
    <div id="innerContainer">
      <h1>Settings</h1>
      <form>
        <label for="category">Category</label>
        <select id="category" v-model="settings.category">
          <option
            v-for="category in categories"
            :value="category.id"
            :key="category.id"
          >
            {{ category.name }}
          </option>
        </select>
        
        <label for="difficulty">Difficulty</label>
        <select id="difficulty" v-model="settings.difficulty">
          <option 
            v-for="(difficulty, idx) in availableDifficulties" 
            :value="difficulty"
            :key="idx"
          >
            {{ capitalize(difficulty) }}
          </option>
        </select>

        <label for="numberOfQuestions">Questions</label>
        <input type="number" id="numberOfQuestions" min="1" max="100" v-model="settings.amount"/>
        
        <fieldset>
        <legend>Type of question</legend>
          <div>
          <label>
            True or false
            <input type="radio" name="type" value="boolean" v-model="settings.type">
          </label>
          </div>
          <div>
          <label>
            Multiple choice
            <input type="radio" name="type" value="multiple" v-model="settings.type"/>
          </label>
          </div>
          <div>
          <label>
            Any
            <input type="radio" name="type" value="any" v-model="settings.type"/>
          </label>
          </div>
        </fieldset>
      </form>
      <span>
        <div class="uiButton" @click="updateSettingsAndReturn">Return to start</div>
      </span>
    </div>
  </span>
</template>

<script>
import API from '../api/questions'

function capitalize(str) {
	const firstLetter = str.charAt(0).toUpperCase()
  return firstLetter + str.slice(1)
}

function isDifficultySetting(difficulty) {
  return difficulty.toLowerCase() === this.settings.difficulty.toLowerCase()
}

function isCategorySetting(categoryId) {
  return categoryId === this.settings.category
}

function updateSettingsAndReturn() {
  API.setSettings(this.settings)
  this.$router.push('start')
}

export default {
  async created() {
    this.categories = await API.fetchCategories()
    this.settings = API.getSettings()
    this.availableDifficulties = API.getAvailableDifficulties()
  },
  methods: {
    capitalize,
    isDifficultySetting,
    isCategorySetting,
    updateSettingsAndReturn
  },
  data() {
    return {
      categ: 9,
      categories: [],
      settings: Object,
      availableDifficulties: Object
    }
  }
};
</script>

<style>
a,
a:link,
a:visited,
a:hover,
a:active {
    color: inherit;
    text-decoration: inherit;
    font-weight: inherit;
}

.uiButton {
  padding: 1em;
  border-radius: 0.3em;
  border: 1px solid black;
  background-color: rgb(147, 189, 135);
}

.uiButton:hover {
  background-color: rgb(186, 231, 173);
  cursor: pointer;
}

#innerContainer > span:last-child {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

/* todo: switch to single-column layout at ~700px */
#outerContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90vh;
}
#innerContainer {
  background:  rgb(177, 193, 221);
  border-radius: 1em;
  border: 1px solid black;
}
form {
  width: 50vw;
  display: grid;
  grid-template-columns: [labels] auto [controls] 1fr;
  grid-auto-flow: row;
  grid-gap: .8em .5em;
  padding: 1.2em;
}
form > label,
form > fieldset  {
  grid-column: labels;
  display: flex;
  justify-content: space-around;
}
form > fieldset > span {
  margin-right: 2em;
}
form > input, 
form > select,
form > textarea,
form > button {
  grid-column: controls;
  padding: .4em;
  border: 0;
}
form > fieldset {
  grid-column: span 2;
}  
form > textarea {
  min-height: 3em;
}

input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
</style>