<template>
  <div id="startOuterContainer">
    <div>
      <span>
        <h1>Fantastic Trivia Game</h1>
        <router-link to='/Game'>
          <div class="uiButton">Start</div>
        </router-link>
      </span>
    </div>
    <div>
      <router-link
        to="/Settings"
      >
        <div class="uiButton">Settings</div>
      </router-link>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Start'
};
</script>

<style scoped>
#startOuterContainer > div:last-child {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}

#startOuterContainer > div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
span > div {
  width: 100%;
}


h1 {
  margin-bottom: 1em;
}
</style>