<!-- 
Usage:  Always pass props [question, answers].
		Optionally pass props [correctAnswerId, userAnswerId]
		If the latter are passed, the buttons are not interactive, and correct/wrong answers are shown
-->

<template>
	<div v-if="isBinaryQuestion" class="binaryQuestion">
		<div
			@click="onAnswerSelected(binaryYesAnswer)" 
			class="button yes"
			:class="{'correctAnswer': binaryYesAnswer.id === correctAnswerId,
							'incorrectAnswer': userAnswerId === binaryYesAnswer.id && userAnswerId !== correctAnswerId,
							'buttonInteractive': userAnswerId === undefined}">
			<span class="material-icons">done</span>
		</div>
		<p v-html="question"></p>
		<div
			v-if="isBinaryQuestion"
			@click="onAnswerSelected(binaryNoAnswer)" 
			class="button no"
			:class="{'correctAnswer': binaryNoAnswer.id === correctAnswerId,
							'incorrectAnswer': userAnswerId === binaryNoAnswer.id && userAnswerId !== correctAnswerId,
							'buttonInteractive': userAnswerId === undefined}">
			<span class="material-icons">clear</span>
		</div>
	</div>
	
	<div v-else class="multipleQuestion">
		<p class="question" v-html="question"></p>
		<ul class="answerset">
			<li v-for="answer in answers" :key="answer.id">
				<div
					:class="{'correctAnswer': answer.id === correctAnswerId,
							'incorrectAnswer': userAnswerId === answer.id && userAnswerId !== correctAnswerId,
							'buttonInteractive': userAnswerId === undefined}" 
					class="button" @click="onAnswerSelected(answer)" 
					v-html="answer.answer">
				</div>
			</li>
		</ul>
	</div>
</template>

<script>
function onAnswerSelected(answer) {
  this.$emit('answer', answer.id)
}
export default {
	name: "TriviaQuestion",
	props: {
		question: String,
		answers: Array,
		correctAnswerId: Number,
		userAnswerId: Number,
  },
  computed: {
	isBinaryQuestion() {
		return this.answers.length === 2
	},
	binaryYesAnswer() {
		return this.answers[0].answer === 'True' ? this.answers[0] : this.answers[1]
	},
	binaryNoAnswer() {
		return this.answers[0].answer === 'True' ? this.answers[1] : this.answers[0]
	}
  },
  methods: {
    onAnswerSelected,
  },
	emits: ["answer"],
};
</script>

<style scoped>
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	margin-block-start: 0;
	margin-block-end: 0;
	padding-block-start: 0;
	padding-block-end: 0;	
}

p {
	text-align: center;
	padding: 0.4em;
	background-color: rgb(177, 193, 221);
	border: 1px solid black;
}

.button {
	background-color: rgb(190, 190, 190);
}
.buttonInteractive:hover {
	cursor: pointer;
	background-color: rgb(218, 216, 216);
}

.button.correctAnswer {
	background-color:  rgb(147, 189, 135);
}
.button.incorrectAnswer {
	background-color: #bd7272;
}

.answerset {
	background-color: #ff0000;
}

.answerset > li div {
	border-right: 1px solid black;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	padding: 0.3em;
}

.binaryQuestion {
	background-color: #A4AF69;
	display: flex;
	align-items: stretch;
	justify-content: space-between;
}

.binaryQuestion .button {
	padding-left: 1em;
	padding-right: 1em;
	display: flex;
	align-items: center;
	border: 1px solid black;
}

.binaryQuestion .button.yes {
	border-right: none;
	color: green;
}
.binaryQuestion .button.no {
	border-left: none;
	color: rgb(233, 33, 33);
}

.binaryQuestion p {
	flex-grow: 1;	
}
</style>
